* hide Items */
.mobile-nav {
    display: none;
}
.mobile-nav {
    display: none;
}

/* common Styles */

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 2;
}

/* Header */

.logo a {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #e65757;
    margin-left: 32px;
}

header {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background-size:cover;
    background-position: top;
}
header button{
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 19rem;
    margin-top: 2rem;
    color: white;
    background: transparent;
  cursor: pointer;
    border:2px solid salmon;
}
header button:hover{
        
    background-color: salmon;
    border:2px solid white;  
   
}

header h1 {
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1;
    color: white;
    padding: 0 32px;
    text-align: left;
}

.orange {
    color: #ee5555;
} 

/* Nav */

nav {
    margin-top: 1rem;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transform: all .6s;
}

nav.scrolled {
    background: rgb(245, 148, 148);
    height: 50px;
    margin-top: -2px;
}

nav.scrolled a {
    color: rgb(245, 245, 245);
}


nav.scrolled .logo a {
    border-bottom: 2px solid black;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 32px;
    
    text-transform: uppercase;
    
}
nav ul a:hover{
    border-bottom:2px solid #e65757;
}
nav ul li .active{
    border-bottom:2px solid #e65757;

}

nav ul li a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
@media(max-width:800px) {
    .about .content {
        flex-direction: column;
    }
}

@media(max-width:700px) {
    .projects .content {
        flex-direction: column;
    }

    .projects .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px;
        order: 2;
    }

    .projects .active-image {
        order: 1;
    }

    nav ul {
        display: none;
    }

    nav .mobile-nav {
        display: flex;
        flex-direction: column;
        background: #e65c57;
        position: fixed;
        top: 0;
        right: 100vh;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        transition: all .4s;
    }

    nav .mobile-nav.active {
        right: 0;
        /* position: relative; */
    }

    nav .mobile-nav li {
        margin: 16px;
    }

    nav .mobile-nav a {
        font-size: 24px;
        color: black;
    }
    nav .mobile-nav a:hover{
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    nav .mobile-nav li .active{
        border-bottom: 2px solid rgb(0, 0, 0);
    }

    header button{
        width: 10rem;
        height: 3rem;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 6rem;
        margin-top: 2rem;
        color: white;
        background: transparent;
      cursor: pointer;
        border:2px solid salmon;
    }
    header button:hover{
        
        background-color: salmon;
        border:2px solid white;  
       
    }


    /* Menu Button */
    .container {
        height: 50px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: fixed;
        right: 20px;
        z-index: 200;
      
    }

    .container.active .menu-btn::after {
        transform: rotateZ(45deg) translate(-6px, -12px);
        background: #000000;
    }

    .container.active .menu-btn::before {
        transform: rotateZ(-45deg) translate(-12px, 16px);
        background: #000000;
    }

    .container.active .menu-btn {
        background: transparent;
    }

    .menu-btn {
        width: 40px;
        height: 10px;
        position: absolute;
        background: white;
        transition: all .4s;
    }

    .menu-btn::after {
        content: '';
        position: absolute;
        background: salmon;
        width: 40px;
        height: 10px;
        top: 16px;
        transition: all .4s;
    }

    .menu-btn::before {
        content: '';
        position: absolute;
        background: salmon;
        width: 40px;
        height: 10px;
        bottom: 16px;
        transition: all .4s;
    }

   
}

.head{
    color: white;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #000000;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #dd6565;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #e96868;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #f8f8f8;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #f37979;
	color: #ffffff;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #ffffff;
}

:-moz-placeholder { 
	color: #ffffff;
	opacity: 1;
}

::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #ffffff;
}

#form_button {
  background: none;
  border: solid 2px #f17d7d;
  color: #e67474;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #e95353;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

